
.vs/DictionaryResearch/DesignTimeBuild/.dtbcache.v2
.vs/DictionaryResearch/v16/.suo
DictionaryResearch/.idea/.idea.DictionaryResearch.dir/.idea/encodings.xml
DictionaryResearch/.idea/.idea.DictionaryResearch.dir/.idea/indexLayout.xml
DictionaryResearch/.idea/.idea.DictionaryResearch.dir/.idea/projectSettingsUpdater.xml
DictionaryResearch/.idea/.idea.DictionaryResearch.dir/.idea/vcs.xml
DictionaryResearch/.idea/.idea.DictionaryResearch.dir/.idea/workspace.xml
DictionaryResearch/bin/Debug/net6.0/DictionaryResearch.deps.json
DictionaryResearch/bin/Debug/net6.0/DictionaryResearch.dll
DictionaryResearch/bin/Debug/net6.0/DictionaryResearch.exe
DictionaryResearch/bin/Debug/net6.0/DictionaryResearch.pdb
DictionaryResearch/bin/Debug/net6.0/DictionaryResearch.runtimeconfig.json
DictionaryResearch/global.json
DictionaryResearch/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
DictionaryResearch/obj/Debug/net6.0/apphost.exe
DictionaryResearch/obj/Debug/net6.0/DictionaryResearch.AssemblyInfo.cs
DictionaryResearch/obj/Debug/net6.0/DictionaryResearch.AssemblyInfoInputs.cache
DictionaryResearch/obj/Debug/net6.0/DictionaryResearch.assets.cache
DictionaryResearch/obj/Debug/net6.0/DictionaryResearch.csproj.AssemblyReference.cache
DictionaryResearch/obj/Debug/net6.0/DictionaryResearch.csproj.CoreCompileInputs.cache
DictionaryResearch/obj/Debug/net6.0/DictionaryResearch.csproj.FileListAbsolute.txt
DictionaryResearch/obj/Debug/net6.0/DictionaryResearch.dll
DictionaryResearch/obj/Debug/net6.0/DictionaryResearch.GeneratedMSBuildEditorConfig.editorconfig
DictionaryResearch/obj/Debug/net6.0/DictionaryResearch.genruntimeconfig.cache
DictionaryResearch/obj/Debug/net6.0/DictionaryResearch.GlobalUsings.g.cs
DictionaryResearch/obj/Debug/net6.0/DictionaryResearch.pdb
DictionaryResearch/obj/Debug/net6.0/ref/DictionaryResearch.dll
DictionaryResearch/obj/Debug/net6.0/refint/DictionaryResearch.dll
DictionaryResearch/obj/DictionaryResearch.csproj.nuget.dgspec.json
DictionaryResearch/obj/DictionaryResearch.csproj.nuget.g.props
DictionaryResearch/obj/DictionaryResearch.csproj.nuget.g.targets
DictionaryResearch/obj/project.assets.json
DictionaryResearch/obj/project.nuget.cache
DictionaryResearch/obj/project.packagespec.json
DictionaryResearch/obj/rider.project.restore.info
